@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
    --shrift: 'Rubik', sans-serif;
    --gray:  #7A7D84;
    --blond: white;
    --yello: #fba808;
    --belly: #ededed;
    --cvet: #34343e;
}
html {
    height: 100%;
}

body {
    font-family: var(--shrift);
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-image: url("../images/league.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}



.bg-overlay {
    background-color: rgba(52, 52, 62, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 95%;
    max-width: 1095px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.logo {
    display: block;
    width: 166px;
    margin-bottom: 30px;
}

.header {
    /*padding: 20px;*/
    background-color: var(--cvet);
    padding: 40px 65px;
}

.search-line {

    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    gap: 40px;
    align-items: stretch;
    height: 42px;
}

.search {
    cursor: pointer;
    background-color: #fdfdfd;
    border-radius: 16px;
    padding: 7px 20px 7px 64px;
    font-family: inherit;
    font-size: 18px;
    color: var(--gray);
    width: 40%;
    background-image: url(/images/search.svg);
    background-repeat: no-repeat;
    background-position: 25px center;
    background-size: 19px;
}

.button {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    font-family: inherit;
    border: none;
}

.button-yellow {
    cursor: pointer;
    background-color: var(--yello);
    color: #fdfdfd;
    padding: 5px 40px;
    border-radius: 16px;
}

.button-yellow:hover {
    background-color: var(--belly);
    color: var(--yello);
}

.footer {
    background-color: var(--belly);
    padding: 40px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    font-family: var(--shrift);
    margin: 0;
    font-size: 18px;
    color: #1d1d1f;
}

.arrow-icon {
    cursor: pointer;
    stroke: var(--blond);
    transition: all 0.2s ease-in-out;
}

.arrow-up {
    background-color: var(--cvet);
    border: none;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    padding: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px var(--cvet);
}

.arrow-up:hover {
    background-color: var(--blond);
}

.arrow-up:hover .arrow-icon {
    stroke: var(--cvet);
}

.main {
    /*background-color: var(--belly);*/
    flex-grow: 1;
    padding: 64px;
}

.movies {
    margin: auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}