/*Стили для карточки фильмов*/

:root {
    --shrift: 'Rubik', sans-serif;
    --gray:  #7A7D84;
    --blond: white;
    --cvet: #34343e;
}


.movie-card {
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 26px;
    justify-content: space-between;
    position: relative;
    width: 426px;
    left: 8px;
    top: 10px;
    margin: auto;
}

.movie-card-image {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: 10px;
    justify-content: space-between;
    position: relative;
    width: 410px;
    left: 0;
    top: 0;
}

.movie-card-title {
    font-family: var(--shrift);
    display: flex;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--cvet);
}

.movie-card-subtitle {
    font-family: var(--shrift);
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color:var(--gray);
}

.movie-card-subtitle:hover {
    color: #ededed;
    background: var(--gray);
}

.movie-card-title:hover {
    background: var(--gray);
}

.movie-card-button {
    font-family: var(--shrift);
    position: absolute;
    margin-right: auto;
    font-style: normal;
    font-size: 18px;
    line-height: 38px;
    color: var(--cvet);
    cursor: pointer;
    /*flex-direction: row;*/
    width: 331px;
    height: 46px;
    left: 113px;
    top: 353px;
    background: var(--blond);
    border-radius: 16px;
}

.movie-card-button:hover {
    background-color: var(--cvet);
    color: var(--blond);
}

.movie-card-button-check {
    stroke: #34343E;
    position: absolute;
    top: 11px;
    left: 235px;
    display:flex;
}

.movie-card-button:hover .movie-card-button-check {
    stroke: white;
}


.movie-card-button-like-hertz1 {
    background-image: url(/images/hertzwhite.svg);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: auto;
    padding: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px var(--cvet);
    border: 1px solid black;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
}

.movie-card-button-like-hertz1:hover {
    background-image: url(/images/hertzred.svg);
}

.movie-card-button-like-hertz {
    background: whitesmoke;
    stroke: var(--blond);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: auto;
    padding: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px var(--cvet);
    border: 1px solid black;
    cursor: pointer;
    background-size: 19px;

.movie-card-button-like-hertz:hover {
     stroke: red;
}
